<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868077407506-8ouhvltlknc5k6urjh3pe1i96qsldlk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868077407506-8ouhvltlknc5k6urjh3pe1i96qsldlk7</string>
	<key>API_KEY</key>
	<string>AIzaSyBlCZecABGn9XoAOFI82DKeWbXGJVtnkow</string>
	<key>GCM_SENDER_ID</key>
	<string>868077407506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokemonAppSastaticket.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pokemonapp-sastaticket</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonapp-sastaticket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868077407506:ios:9b2ed37c7d30b672a977cb</string>
</dict>
</plist>